.text-under-button {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-secondary-gray);
}

.text-brand-bold {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  

  @media screen and (min-width:$bp-tablet) {
    font-family: "Play";
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    
  }
}

.text-brand-light {
  font-weight: 500;
  color: var(--color-primary-light);

  @media screen and (min-width:$bp-tablet) {
    font-weight: 700;
  }
}
.text-uppercase {
  text-transform: capitalize;
}
