:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #2b7fff;
  --color-primary-white: #ffffff;
  --color-secondary-gray: #747272;
  --color-secondary-dark-blue: #011f4a;
  --color-secondary-dark-blue-second: #011c44b9;
  --color-backdrop: #011f4a66;
  --color-secondary-gray-navigation: #ffffff40;
  --color-description-order-call: #4a4a4a;
  --color-gray-shadow:#A8C6F561;
}
$bp-mobile-android-small: 360px;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
