.header {
  position: absolute;
  width: 100%;
  align-items: center;

  &__container {
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      width: 100%;
      max-width: 1472px;
      justify-content: space-between;
      background-color: var(--color-secondary-gray-navigation);
      padding: 32px 102px 32px 99px;
    }
  }

  &__navigation {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 57px;
    height: 30px;
    font-family: "Play";
    font-weight: 700;
    font-size: 16px;
    line-height: 0.95;
    text-decoration: none;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      top: 0;
      left: 0;
      width: 74px;
      height: 42px;
      font-size: 22px;
    }
  }
  &__nav-list {
    display: none;
    z-index: 0;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      gap: 56px;
      z-index: 1;
    }
  }

  &__social-network-container {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      margin-left: 40px;
      z-index: 1;
    }
  }

  &__icons {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__icon {
    &:hover {
      fill: var(--color-primary-white);
    }
    
  }

  &__burger {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__mobile-menu {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 5px;
    left: 2px;
    fill: var(--color-primary-white);

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
