.link {
  margin: 10.5px auto 10.5px auto;
  color: var(--color-primary-dark);
  line-height: 1.2;
  text-decoration: none;
  transition: color 0.3s;
  
  &:hover {
    color: var(--color-primary-light);
    }
}
